ENV="development"
API_KEY=your_dummy_api_key_here # This can be any string, it's not a real API key for Edge TTS
PORT=5050
DEFAULT_VOICE=en-US-AvaNeural # You can change this to any Edge TTS voice
DEFAULT_RESPONSE_FORMAT=mp3
DEFAULT_SPEED=1.0
DEFAULT_LANGUAGE=en-US
REQUIRE_API_KEY=False # Set to True if you want to enforce the API_KEY
REMOVE_FILTER=False
EXPAND_API=True # Set to True to enable ElevenLabs and Azure API endpoints (beta)
INSTALL_FFMPEG_ARG=true # Recommended if you want all audio format options
