node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack

# mp3 static assets for honeycomb
/public/sfx
# assets of unknown size
/public/code-samples
/public/hangul
/public/leetype
/public/topiks
/public/resume.pdf
