@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee var(--duration, 20s) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 20s) linear infinite;
  }
}
