.cube.rotating {
  animation: rotate 12s infinite linear;
}

.cube__face--0 {
  transform: rotateY(0deg) translateZ(150px);
}
.cube__face--1 {
  transform: rotateY(90deg) translateZ(150px);
}
.cube__face--2 {
  transform: rotateY(180deg) translateZ(150px);
}
.cube__face--3 {
  transform: rotateY(-90deg) translateZ(150px);
}

@keyframes rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 640px) {
  .scene {
    width: 200px;
    height: 200px;
  }

  .cube__face--0,
  .cube__face--1,
  .cube__face--2,
  .cube__face--3 {
    transform: rotateY(var(--rotate)) translateZ(100px);
  }
}
