.cube.rotating {
  animation: rotate 12s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 640px) {
  .scene {
    width: 200px;
    height: 200px;
  }
}
