name: Linting

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main
  release:
    types: [published]

defaults:
  run:
    working-directory: ./

permissions:
  actions: write
  contents: read
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  lint:
    if: |
      github.event_name == 'pull_request' ||
      (github.event_name == 'release' && github.event.action == 'published')

    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Check prettier
        run: pnpm prettier

      - name: Check eslint
        run: pnpm lint:js

      - name: Run typecheck
        run: pnpm typecheck
